.hero {
  padding: 40px 0;
  &-col {
    //height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &__title {
      font-size: calc(var(--index) * 3);
    }
    &__description {
      font-size: calc(var(--index) * 2);
    }
    &__h3 {
      font-size: calc(var(--index) * 20);
    }
  }
}

.fa-react {
  color: var(--primary);
  animation: reactRotate 6s ease-in-out infinite;
}

@keyframes reactRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .col-7{
    width: 100%;
  }

  .col-5{
    width: 100%;
  }
  .hero{
    &-col{
      height: 50vw;
      &-logo{
        align-items: center;
      }
    }
  }
}