.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vw;
  &__logo{
    height: 100%;
  }
  &__ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }
  &__li{
    font-size: calc(var(--index) * 1.2);
  }
}