.projects {
  //display: none;
  padding: 40px 0;
  &-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
    gap: 16px;
  }
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--bg-color);
  height: 360px;
  &__img {
    height: 70%;
    background: var(--primary);
  }
  &-info {
    height: 30%;
    &__title {
      font-size: calc(var(--index) * 2);
      line-height: calc(var(--index) * 2);
    }
  }
}

@media (max-width: 700px) {
  .projects{
    &-cards{
      grid-template-columns: repeat(1, 100%);
    }
  }
}