.staks{
  padding: 140px 0;
  &-tools__title{
    text-align: center;
    margin-top: 70px;
    font-size: calc(var(--index) * 3);
    line-height: calc(var(--index) * 5);
  }
  &__title{
    text-align: center;
    font-size: calc(var(--index) * 3);
    line-height: calc(var(--index) * 5);
  }
  &-col{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &__img{
      width: 100px;
      height: 100%;
    }
  }
}